{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-11">
       <div class="card">
          <div class="card-body">
             <form method="post" action="{% url 'add_lecture' %}" >
                <!-- <div class="row"> -->
                    {% csrf_token %}
                
                   <div class="col-11">
                      <h5 class="form-title"><span> Schedule Lecture </span></h5>
                   </div>
                   <!-- Error message -->
                        {% if messages %}
                          {% for message in messages %}
                          {% if message.tags == 'error'%}
                          <div class="alert alert-warning alert-dismissible fade show" role="alert">
                           {{message}}
                           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                           </button>
                         </div> 
                         {% endif%}
                          {% endfor %}
                        {% endif %}

                        <!-- Success message -->
                        {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'success'%}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                         {{message}}
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                         </button>
                       </div> 
                       {% endif%}
                        {% endfor %}
                      {% endif %}

                      <div class="form-group">
                        <label for="instructor">Instructor</label>
                        <select class="form-control" id="instructor" name="instructor" required>
                            <option value="">Select Instructor</option>
                            {% for instructor in instructors %}
                                <option value="{{ instructor.id }}">{{ instructor.admin.first_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="course">Course</label>
                        <select class="form-control" id="course" name="course" required>
                            <option value="">Select Course</option>
                            {% for course in courses %}
                                <option value="{{ course.id }}">{{ course.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input type="date" class="form-control" id="date" name="date" required>
                    </div>
                    


            
                   
                   <br>
                 
                   <div class="col-11">
                      <button type="submit" class="btn btn-primary">Schedule Lecture</button>
                   </div>
                </div>
             </form>
          </div>
       <!-- </div> -->
    </div>
 </div>
</div>
</div>

{% endblock %}
